
# Secrets
.env
.env.local

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/playwright/.user_data/

# Build output
dist/
backend/dist/
